---
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Stats from '~/components/widgets/Stats.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import Content from '~/components/widgets/Content.astro';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero2
    tagline="About us"
    image={{
      src: '~/assets/images/TCR.jpg',
      alt: 'Transformer Image',
      width: '250',
      height: '370'
    }}
  >
    <Fragment slot="title">
      Providing expert power transformer engineering services
    </Fragment>

    <!-- Mr. Raymond is a transformer R&D engineer with over 25 years of experience in all phases of transformer application, specification, 
      design, testing, operation, and maintenance. Extensive experience in utility asset analytics, working at the 
      intersection of data science and asset engineering. High voltage test experience. Capable of developing and 
      implementing engineering methodologies in a variety of software platforms. -->
  </Hero2>

  
      
  <section class="px-4 py-16 sm:px-6 mx-auto lg:px-8 lg:py-20 max-w-4xl">
    <h1 class="font-bold font-heading text-4xl md:text-5xl leading-tighter tracking-tighter">Tim Raymond - Owner & Principal Engineer</h1>
    <div
      class="mx-auto prose prose-lg max-w-4xl dark:prose-invert dark:prose-headings:text-slate-300 prose-md prose-headings:font-heading prose-headings:leading-tighter prose-headings:tracking-tighter prose-headings:font-bold prose-a:text-blue-600 dark:prose-a:text-blue-400 prose-img:rounded-md prose-img:shadow-lg mt-8"
    >
    <p>Timothy Raymond is a highly experienced transformer engineer with over two decades of expertise in all aspects of transformer application, 
      specification, design, testing, operation, and maintenance. Based in Glenville, NY, Timothy has developed a strong reputation for his 
      extensive work in utility asset management, high voltage testing, and data-driven transformer diagnostics.</p>

      <p>Prior to forming Inductive Reasoning Engineering Services, Mr. Raymond served as a Technical Executive at the Electric Power Research Institute (EPRI), 
      leading research projects and providing technical expertise in the power transformer and asset analytics areas. With a background deeply rooted in asset 
      analytics, Timothy's contributions have significantly advanced transformer fleet condition assessments and risk mitigation strategies. His expertise 
      extends to transformer thermal ratings, field diagnostic testing, and forensic investigations, particularly in power transformer and bushing failures.</p>

      <p>Prior to his tenure at EPRI, Timothy worked at Power Delivery Consultants, Inc., where he honed his skills in transformer diagnostics, failure investigations, 
      and software development for transformer rating and condition assessment systems.</p>

      <p>Timothy holds a Bachelor of Science and a Master of Engineering in Electric Power Engineering from Rensselaer Polytechnic Institute and is currently pursuing 
      a PhD in Electrical Engineering from Clarkson University, with an expected completion in 2025. His professional affiliations include senior membership in the 
      Institute of Electrical and Electronics Engineers (IEEE), and he holds a Professional Engineering licenses in New York.</p>

      <p>In addition to his technical contributions, Timothy holds Patent 10,488,384 for a system and method for assessing power transformers, granted in 2019. He has 
      authored multiple publications and contributed to critical industry guidelines, including his work on the IEEE C57.91 Guide for Loading Mineral-Oil Immersed 
      Transformers.</p>

      <p>Timothy's combination of practical transformer expertise, research acumen, and industry leadership makes him a sought-after expert in the field of power 
      transformer technology and utility asset management.</p>
    </div>
  </section>

  <Features
    title="Transformer Expertise"
    columns={2}
    items={[
        {title: "Condition Assessment & Fleet Management"},
        {title: "Thermal Modeling & Rating"},
        {title: "Field Diagnostic Testing & Evaluation"},
        {title: "Failure Investigation"},
        {title: "Bushings"},
        {title: "LTC Diagnostics & Maintenance"},
        {title: "On-site Inspections & Quality Control Audits"},
        {title: "Witness of Factory Acceptance Testing"}
      ]}
  />

  <!-- Features2 Widget ************** -->

  <!-- HeroText Widget ******************* -->

  <HeroText tagline="Contact" title="Let's Connect!" />

  <!-- Features2 Widget ************** -->

  <Features2
    title="We are here to help!"
    items={[
      {
        title: 'Phone',
        description: '+1 (518) 229-0194',
        icon: 'tabler:headset',
      },
      {
        title: 'Email',
        description: 'tcraymond@inductivereasoning.com',
        icon: 'tabler:mail',
      },
      {
        title: 'Location',
        description: '707 Swaggertown Rd., Glenville, NY 12302',
        icon: 'tabler:map-pin',
      },
    ]}
  />

</Layout>
