---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Inductive Reasoning Engineering Services',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      { text: 'Learn more', href: '#features' },
    ]}
    image={{ src: '~/assets/images/high-voltage-transformer-against-blue-260nw-1971671024.webp', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      Inductive Reasoning Engineering Services
    </Fragment>

    <Fragment slot="subtitle">
      Providing expert power transformer engineering services.
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Content
    id="services"
    tagline="Services"
    title="We offer services covering the entire lifecycle of power transformers"
    subtitle="subtitle."
    items={[
      {
        title: 'Specification',
        description:  'We can assist in the development or review of power transformer specifications to ensure that the procured transformers meet all customer requirements and industry standards and to ensure high reliability, low cost, and minimal maintenance.',
        icon: 'tabler:components',
      },
      {
        title: 'Design Review',
        description:
          'More words.',
        icon: 'tabler:components',
      },
      {
        title: 'Factory Audit',
        description:
          'Way more words.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Inpections & Witness Factory Test',
        description:
          'I have the best words.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Installation & Commissioning Support',
        description:
          "I'm running out of words.",
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'Operation & Maintenance',
        description:
          "I'm out of words."",
        icon: 'tabler:bulb',
      },
      {
        title: 'Diagnostics & Condition Assessment',
        description:
          'Embracing a culture that is open to new ideas and contributions is integral fostering innovation, collaboration, and a dynamic user experience.',
        icon: 'tabler:bulb',
      },
      {
        title: 'Refurbishment, Replacement & Fleet Management',
        description:
          'Embracing a culture that is open to new ideas and contributions is integral fostering innovation, collaboration, and a dynamic user experience.',
        icon: 'tabler:bulb',
      },
      {
        title: 'Asset Management Analytics',
        description:
          'Embracing a culture that is open to new ideas and contributions is integral fostering innovation, collaboration, and a dynamic user experience.',
        icon: 'tabler:bulb',
      },
    ]}
  />

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Find out more content in our Blog"
    information={`The blog is used to display AstroWind documentation.
                        Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
                        Astro is a very interesting technology. Thanks.
                `}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Get template',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title">
      Astro&nbsp;+&nbsp;<br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Tailwind CSS</span>
    </Fragment>

    <Fragment slot="subtitle">
      Be very surprised by these huge fake numbers you are seeing on this page. <br class="hidden md:inline" />Don't
      waste more time! :P
    </Fragment>
  </CallToAction>
</Layout>
